<nav class="navbar navbar-expand-md navbar-dark bg-success" role="navigation">
  <div class='container-fluid'>
    <div class='navbar-header'>
      <a class="navbar-brand" href="/urls">TinyApp</a>
    </div>

    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/urls">My URLs</a>
      <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
    </div>
    <% if(user) { %>
      <form action="/logout" method="post" class='form-inline'>
          <label style="margin-right: 2em;">
          Logged in  as <%=user.email %>
          </label>
          <button type='submit' class='btn btn-outline-dark'> Logout </button>
      </form>
      <% } else { %>
        <div class='nav navbar-nav navbar-right'>
          <label style="margin-right: 10px;">
            <form class="form-inline account-button" method="GET" action="/register">
              <button type="submit" class="btn btn-outline-dark"> Register </button>
            </form>
            <label style="margin-right:auto"></label>
            <form class="form-inline account-button"  method="GET" action="/login">
              <button type="submit" class="btn btn-outline-dark"> Login </button>
            </form>
          </label>
        </div>
      <% } %>  
  </div>
</nav>

